#botoes {
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin: auto;
  /*background-color: black;*/
}

#prev {
 /* background-color: orange;*/
  border-radius: 10px;
  background-color: rgb(72, 144, 211);
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 300px;
  position: relative;
  font-size: 20px;
  padding: 5px;
}

#next {
 /* background-color: #48dbfb;*/
  border-radius: 10px;
  background-color:  rgb(72, 144, 211);
  color: white;
  padding: 5px;
  margin-top: 20px;
  margin-left: 300px;
  position: absolute;
  font-size: 20px;
  margin-bottom: 30px;
}
